figure {
	background-color: lightgrey;
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
	margin: 10px 0;
}

figure>figcaption {
	padding-left: 10px;
}

.subtitle {
	font-size: .9em;
	font-style: italic;
}

.gallery {
	overflow: auto;
	background-color: lightblue;
	display: inline-block;
	padding: 5px;
	margin: 5px;
}

.gallery>figure  {
	background-color: transparent;
	float: left;
	margin: 5px;
}

li {
	padding: 5px;
}